.btn-up {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 100px;
	height: 100px;
	background: url('image/btn-up.png') no-repeat center center;
	border-radius: 50%;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.btn-up {
		bottom: 124px;
		width: 60px;
		height: 60px;
	}
}
