.menu__box {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 50px;
	height: 40px;
	margin: 0 auto;
	cursor: pointer;
	flex-direction: column;
}

.menu__box-line {
	position: relative;
	width: 90%;
	height: 3px;
	background-color: $text-color;
}

.hide {
	display: none;
}

.rotate45 {
	position: absolute;
	top: 20px;
	left: 0;
	transform: rotate(45deg);
}

.rotate-45 {
	transform: rotate(-45deg);
	position: absolute;
	top: 20px;
	left: 0;
}

@media (max-width: 1000px) {
	.menu__box {
		display: flex;
	}
}
